# Ignorar ambiente virtual e bibliotecas
.venv/
venv/
env/

# Ignorar modelos de IA pesados
*.onnx
*.pt
*.pth
*.zip
*.tar.gz
*.7z

# Pastas de cache do Python
__pycache__/

# Pastas de datasets e arquivos de dados
dataset/
dataset_extraido_limpo/
dataset_yolo/
downloads_segundo_dataset/
capturas/
dataset_yolo.zip

# Pasta de resultados de treino (comum em YOLO)
runs_backup_cpu/

# Pasta de configurações do IDE (PyCharm/IntelliJ)
.idea/

# Pasta temporária ou de quarentena
quarentena/

